/*PUBLIC CSS*/

nav.navbar.navbar-default.navbar-static-top {
    background: rgba(0, 0, 0, 0.39);
    border-color: transparent;
}
nav.navbar.navbar-default.navbar-static-top * {
    color: #fff !important;
}

#registration {
    background:linear-gradient( rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.82) ), url('http://3fyfjk3b5hq21oxicu3g0kd11b8f.wpengine.netdna-cdn.com/wp-content/plugins/my-login-box/images/background.png');
    min-height: 100vh;
}
#registration .login{
    margin-top: 100px;
}
.r_form .panel.panel-default {
    background: rgba(255, 255, 255, 0.16);
    border-color: transparent;
    border-radius: 0;
    border: 2px solid #F5F5F5;
    padding: 6px 15px;
    color: #fff;
}
.r_form .panel.panel-default .panel-heading {
    padding: 15px;
    background: #fff;
    border-color: transparent;
}
.r_form .panel.panel-default .form-control, .r_form .panel.panel-default .btn-primary {
    padding: 10px;
    height: auto;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 0;
}
.r_form .panel.panel-default label.control-label {
    text-transform: uppercase;
}
.r_form .panel.panel-default .btn-primary {
    background: #E74A4A;
    border-color: transparent;
}
.r_form a.btn.btn-link {
    color: #fff;
}