/*ADMIN CSSS*/
/*.ingredients-action:-webkit-scrollbar {
    width: 1em;
}
 
.ingredients-action:-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.ingredients-action:-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}*/

body.admin {
	background:#fff;
}

.modal-popup { 
    cursor: pointer;
}

.ingredients-action {}

.ingredients-action .preview{
	width: 100%;
    height: 100px;
    border: 2px solid #B4B0B0;
    background-size:100% !important;
}
.ingredients-action #select-image img:hover {
	opacity: 0.5;
}
.ingredients-action #select-image span.fa.fa-trash {
    position: absolute;
    top: 0;
    padding: 8px;
    background: #fff;
    right: 0;
}
.ingredients-action  #select-image .col-md-12 {
    max-height: 175px;
    min-height: 175px;
    overflow-y: scroll;
}
.ingredients-action  #select-image img{
     background: #fff;
     padding: 2px;
     width:100%; 
     height:100px;
}
.ingredients-action  #select-image .col-md-12::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #383535;
}

.ingredients-action  #select-image .col-md-12::-webkit-scrollbar
{
	width: 12px;
	background-color: #383535;
    border-radius:10px;
}

.ingredients-action  #select-image .col-md-12::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #efefef;
}

.ingredients-action #photo-upload {
    background: #AB2E07;
    height: 50px;
    text-align: center;
    position: relative;
    border-radius: 5px;
}
.ingredients-action #photo-upload:after {
    content: "UPLOAD";
    background: #FF5722;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 14px;
    position: absolute;
    top: 0;
    height: auto;
}